<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  <extension id="app" point="org.eclipse.core.runtime.applications">
    <application cardinality="singleton-global" thread="main" visible="true">
      <run class="name.abuchen.portfolio.cli.CLIApplication"/>
    </application>
  </extension>
</plugin>
