
/* Common DARK styles */

.MPartStack {
    padding: 0px;
}

CTabFolder {
    padding: 0px;
}

.MPart .sidebar,
.MPart .sidebar Label {
	color: #D7D8D8;
	background-color: #1D1F21;
	selection-color: #D7D8D8;
	selection-background-color: #383A3D;
}

.MPart .sidebarBorder {
	background-color: #15171A;
}

.tooltip Label,
.tooltip Composite,
.tooltip Text {
	color: #EEEEEE;
	background-color: #515658;
}

.chart {
	background-color: #515658;
	axis-color: #A0A0A0;
	grid-color: #606060;
	highlight-color: white;
}

CustomColors {
	default-foreground: #EEEEEE;
	default-background: #302E30;
	warning-background: #6F6345;
	red-background: #960000;
	green-background: #004B00;

	red-foreground: #FE2B05;
	green-foreground: #02F500;
}
