
@import url("platform:/plugin/org.eclipse.ui.themes/css/e4-dark_win.css");

@import url("platform:/plugin/name.abuchen.portfolio.ui/css/dark/common.css");

@import url("platform:/meta/name.abuchen.portfolio.ui/custom.css");

Table,
Tree {
	swt-lines-visible: false;
}

.kpi {
	font-family: 'Segoe UI';
}
