<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="Portfolio Performance">
         <property
               name="appName"
               value="Portfolio Performance">
         </property>
         <property
               name="cssTheme"
               value="name.abuchen.portfolio.light">
         </property>
         <property
               name="lifeCycleURI"
               value="bundleclass://name.abuchen.portfolio.bootstrap/name.abuchen.portfolio.bootstrap.LifeCycleManager">
         </property>
         <property
               name="rendererFactoryUri"
               value="bundleclass://name.abuchen.portfolio.bootstrap/name.abuchen.portfolio.bootstrap.swt.CustomRendererFactory">
         </property>
      </product>
   </extension>
   <extension
         id="id1"
         point="org.eclipse.e4.workbench.model">
      <processor
            apply="always"
            beforefragment="false"
            class="name.abuchen.portfolio.bootstrap.SaveHandlerProcessor">
         <element
               id="name.abuchen.portfolio.ui.window.mainwindow">
         </element>
      </processor>
      <processor
            apply="always"
            beforefragment="true"
            class="name.abuchen.portfolio.bootstrap.MergeOldLayoutIntoCurrentApplicationModelProcessor">
      </processor>
   </extension>
</plugin>
