<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="name.abuchen.portfolio.ui.preferences.PreferencesInitializer">
      </initializer>
   </extension>

   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="name.abuchen.portfolio.ui.expression.IsNotMacOSX">
         <not>
            <systemTest
                  property="os.name"
                  value="Mac OS X">
            </systemTest>
         </not>
      </definition>
   </extension>
   <extension
         point="org.eclipse.e4.ui.css.core.propertyHandler">
      <handler
            adapter="name.abuchen.portfolio.ui.theme.SidebarElementAdapter"
            composite="true"
            handler="name.abuchen.portfolio.ui.theme.SidebarCSSHandler">
         <property-name
               name="selection-color">
         </property-name>
         <property-name
               name="selection-background-color">
         </property-name>
      </handler>
      <handler
            adapter="name.abuchen.portfolio.ui.theme.ChartElementAdapter"
            composite="false"
            handler="name.abuchen.portfolio.ui.theme.ChartCSSHandler">
         <property-name
               name="background-color">
         </property-name>
         <property-name
               name="axis-color">
         </property-name>
         <property-name
               name="grid-color">
         </property-name>
         <property-name
               name="highlight-color">
         </property-name>
      </handler>
      <handler
            adapter="name.abuchen.portfolio.ui.theme.ColorsThemeElementAdapter"
            handler="name.abuchen.portfolio.ui.theme.ColorsThemeCSSHandler">
         <property-name
               name="warning-background">
         </property-name>
         <property-name
               name="red-background">
         </property-name>
         <property-name
               name="green-background">
         </property-name>
         <property-name
               name="red-foreground">
         </property-name>
         <property-name
               name="green-foreground">
         </property-name>
      </handler>
   </extension>
   <extension
         point="org.eclipse.e4.ui.css.core.elementProvider">
      <provider
            class="name.abuchen.portfolio.ui.theme.ElementProvider">
         <widget
               class="name.abuchen.portfolio.ui.theme.ThemesExtension">
         </widget>
         <widget
               class="name.abuchen.portfolio.ui.theme.ColorDefinition">
         </widget>
         <widget
               class="name.abuchen.portfolio.ui.theme.FontDefinition">
         </widget>
         <widget
               class="name.abuchen.portfolio.ui.editor.Sidebar">
         </widget>
         <widget
               class="org.swtchart.Chart">
         </widget>
         <widget
               class="name.abuchen.portfolio.ui.util.Colors$Theme">
         </widget>
      </provider>
   </extension>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="css/light_mac.css"
            id="name.abuchen.portfolio.light"
            label="%theme.light"
            os="macosx">
      </theme>
      <theme
            basestylesheeturi="css/dark_mac.css"
            id="name.abuchen.portfolio.dark"
            label="%theme.dark"
            os="macosx">
      </theme>
      <theme
            basestylesheeturi="css/light_win.css"
            id="name.abuchen.portfolio.light"
            label="%theme.light"
            os="win32">
      </theme>
      <theme
            basestylesheeturi="css/dark_win.css"
            id="name.abuchen.portfolio.dark"
            label="%theme.dark"
            os="win32">
      </theme>
      <theme
            basestylesheeturi="css/light_linux.css"
            id="name.abuchen.portfolio.light"
            label="%theme.light"
            os="linux">
      </theme>
      <theme
            basestylesheeturi="css/dark_linux.css"
            id="name.abuchen.portfolio.dark"
            label="%theme.dark"
            os="linux">
      </theme>
   </extension>
</plugin>
