<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="name.abuchen.portfolio.ui.preferences.PreferencesInitializer">
      </initializer>
   </extension>

   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="name.abuchen.portfolio.ui.expression.IsNotMacOSX">
         <not>
            <systemTest
                  property="os.name"
                  value="Mac OS X">
            </systemTest>
         </not>
      </definition>
   </extension>
</plugin>
