body {
	font-family: Lucida Grande, Segoe UI, Arial;
	font-size: 11px;
	margin: 0px 0px 0px 0px;
	overflow: hidden;
}

div.tooltip {
	position: absolute;
	padding: 2px;
	font-size: 11px;
	color: #efefef;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.6);
	border: 0px;
	border-radius: 2px;
	pointer-events: none;
}

path {
  stroke: white;
  fill-rule: evenodd;
}

text {
  cursor: default;
  fill: black;
}
