<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>

<target name="portfolio-ide" sequenceNumber="9">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.e4.rcp.feature.group" version="1.3.100.v20140909-1633"/>
<unit id="org.eclipse.e4.rcp.source.feature.group" version="1.3.100.v20140909-1633"/>
<unit id="org.eclipse.equinox.executable" version="3.6.100.v20140819-1617"/>
<unit id="org.eclipse.platform.ide" version="4.4.1.M20140925-0400"/>
<unit id="org.eclipse.platform.source.feature.group" version="4.4.0.v20140925-0400"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.4/R-4.4.1-201409250400"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.hamcrest.core.source" version="1.3.0.v201303031735"/>
<unit id="org.hamcrest" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.text" version="1.1.0.v20090501071000"/>
<unit id="org.junit" version="4.11.0.v201303080030"/>
<unit id="org.mockito" version="1.9.5.v201311280930"/>
<unit id="org.hamcrest.core" version="1.3.0.v201303031735"/>
<unit id="org.hamcrest.text.source" version="1.1.0.v20090501071000"/>
<unit id="org.junit.source" version="4.11.0.v201303080030"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20140525021250/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.babel.nls_eclipse_de.feature.group" version="4.4.0.v20140623020002"/>
<repository location="http://download.eclipse.org/technology/babel/update-site/R0.12.0/luna"/>
</location>
<location path="${basedir}/ide-target-platform/bundles" type="Directory"/>
</locations>
</target>
