<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>

<target name="portfolio-ide" sequenceNumber="10">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.e4.rcp.feature.group" version="1.5.3.v20170228-0512"/>
<unit id="org.eclipse.e4.rcp.source.feature.group" version="1.5.3.v20170228-0512"/>
<unit id="org.eclipse.equinox.executable.feature.group" version="3.6.300.v20161122-1740"/>
<unit id="org.eclipse.pde.source.feature.group" version="3.12.3.v20170301-0400"/>
<unit id="org.eclipse.platform.ide" version="4.6.3.M20170301-0400"/>
<unit id="org.eclipse.rcp.source.feature.group" version="4.6.3.v20170301-0400"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.6/R-4.6.3-201703010400/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.hamcrest.library.source" version="1.3.0.v201505072020"/>
<unit id="org.hamcrest.text" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.integration.source" version="1.3.0.v201305210900"/>
<unit id="org.junit" version="4.12.0.v201504281640"/>
<unit id="org.hamcrest.core.source" version="1.3.0.v201303031735"/>
<unit id="org.hamcrest" version="1.1.0.v20090501071000"/>
<unit id="org.mockito.source" version="1.9.5.v201605172210"/>
<unit id="org.hamcrest.integration" version="1.3.0.v201305210900"/>
<unit id="org.hamcrest.core" version="1.3.0.v201303031735"/>
<unit id="org.hamcrest.text.source" version="1.1.0.v20090501071000"/>
<unit id="org.mockito" version="1.9.5.v201605172210"/>
<unit id="org.hamcrest.library" version="1.3.0.v201505072020"/>
<unit id="org.junit.source" version="4.12.0.v201504281640"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20170307180635/repository"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.babel.nls_eclipse_de.feature.group" version="4.6.0.v20171231042619"/>
<unit id="org.eclipse.babel.nls_eclipse_es.feature.group" version="4.6.0.v20171231042619"/>
<repository location="http://archive.eclipse.org/technology/babel/update-site/R0.15.1/neon"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.nebula.widgets.cdatetime.feature.feature.group" version="1.0.0.201605182147"/>
<repository location="http://archive.eclipse.org/nebula/Q22016/release/"/>
</location>
<location path="${basedir}/ide-target-platform/bundles" type="Directory"/>
</locations>
</target>
